// Custom variables
// -------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
$primary: #0f172a; // Indigo 500
$secondary: #02245b;
$accent: #14b8a6; // Teal accent

$main-font: "Oxygen", sans-serif;
